<div class="piy piy-body piy-widgetimage">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="piy-glyphicon">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="piy-glyphicon">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">Widget Edit</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid piy-split-view">
        <form action="/api/upload"   method="post" enctype="multipart/form-data">

            <div ng-show="model.errorMessage" class="alert alert-danger">
                {{model.errorMessage}}
            </div>

            <label for="name">Name</label>
            <input name="name"
                   class="form-control"
                   placeholder="Name"
                   ng-model="model.widget.name"
                   id="name"/>

            <label for="text">Text</label>
            <textarea name="text"
                      ng-model="model.widget.text"
                      rows="3"
                      class="form-control"
                      placeholder="Text"
                      id="text"></textarea>

            <label for="url">URL</label>
            <input name="url"
                   ng-model="model.widget.url"
                   class="form-control"
                   placeholder="URL"
                   value="https://youtu.be/uLWLashCXHE"
                   id="url"/>

            <label for="width">Width</label>
            <input name="width"
                   ng-model="model.widget.width"
                   class="form-control"
                   placeholder="Width"
                   value="100%"
                   id="width"/>

            <label>Upload</label>
            <input  name="myFile"    type="file" class="form-control"/>
            <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
            <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
            <input  name="websiteId" value="{{model.wid}}"   style="display: none"/>
            <input  name="pageId"    value="{{model.pid}}"   style="display: none"/>
            <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
            <button type="submit" class="btn btn-block btn-primary">Upload Image</button>

            <a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.widget._id}}/search"
               class="btn btn-success btn-block"
               role="button">Search Image</a>

            <a class="btn btn-danger btn-block"
               ng-click="model.deleteWidget(model.widget)"
               role="button">Delete</a>
        </form>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#!/profile/{{model.userId}}" class="piy-glyphicon">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</div>