<div class="pro pro-body pro-following">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a class="smoothScroll navbar-brand">TravelMate</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav nav-pills navbar-right">
                    <li><a ng-href="#!/profile" class="smoothScroll fa fa-user"> Profile</a></li>
                    <li><a ng-href="#!/wishList" class="smoothScroll fa fa-list"> Wish List</a></li>
                    <li><a ng-href="#!/review" class="smoothScroll fa fa-sticky-note"> Reviews</a></li>
                    <li><a ng-href="#!/followers" ng-hide="model.userRole === 'Traveller'" class="smoothScroll fa fa-users"> Followers</a></li>
                    <li><a ng-click="model.place()" class="smoothScroll fa fa-search"> Search Place</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid pro-split-view">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="val in model.following">
                        <a ng-href="#!/host/{{val._id}}">{{val.firstName | uppercase}} {{val.lastName | uppercase}}</a>
                        <button ng-click="model.review(val._id)"
                                class="smoothScroll fa fa-sticky-note pull-right"> Reviews
                        </button>
                        <button ng-click="model.unfollow(val)"
                                class="smoothScroll fa fa-plus pull-right"> Unfollow
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row form-group">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <label for="search">Search Hosts by place name</label>
                <div class="input-group">
                    <input ng-model="model.placeName"
                           id="search"
                           type="text"
                           placeholder="Enter Place Name"
                           class="form-control">
                    <span class="input-group-btn">
                        <a ng-click="model.searchHost(model.placeName | lowercase)" class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <div ng-show="model.result">
                    <label>
                        Hosts:
                    </label>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="val in model.result.hosts">
                        <a ng-href="#!/host/{{val._id}}">{{val.firstName | uppercase}} {{val.lastName | uppercase}}</a>
                        <button ng-click="model.review(val._id)"
                                class="smoothScroll fa fa-sticky-note pull-right"> Reviews
                        </button>
                        <button ng-hide="model.alreadyFollowing(val._id)" ng-click="model.follow(val)"
                                class="smoothScroll fa fa-plus pull-right"> Follow
                        </button>
                        <button ng-show="model.alreadyFollowing(val._id)" ng-click="model.unfollow(val)"
                                class="smoothScroll fa fa-plus pull-right"> Unfollow
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        </div>
    </nav>
</div>