<div class="pro pro-body pro-details">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a ng-href="#!/followers" class="pro-glyphicon">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="smoothScroll navbar-brand">TravelMate</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid pro-split-view">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <h1>Host Details:</h1>
                <h3>Host name: {{model.follower.firstName}} {{model.follower.lastName}}</h3>
                <h4>Email Id: {{model.follower.email}}</h4>
                <h4>Contact Info: {{model.follower.phone}}</h4>
                <h4>Hosting cities:</h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="val in model.follower.wishlist">
                        {{val.placeName | uppercase}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        </div>
    </nav>
</div>