<div class="pro pro-body pro-wishlist">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a class="smoothScroll navbar-brand">TravelMate</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav nav-pills navbar-right">
                    <li><a ng-href="#!/profile" class="smoothScroll fa fa-user"> Profile</a></li>
                    <li><a ng-href="#!/review" class="smoothScroll fa fa-sticky-note"> Reviews</a></li>
                    <li><a ng-click="model.following()" ng-hide="model.userRole === 'Host'" class="smoothScroll fa fa-users"> Following</a></li>
                    <li><a ng-href="#!/followers" ng-hide="model.userRole === 'Traveller'" class="smoothScroll fa fa-users"> Followers</a></li>
                    <li><a ng-click="model.place()" class="smoothScroll fa fa-search"> Search Place</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid pro-split-view">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="val in model.places">
                        <a>{{val.placeName | uppercase}}</a>
                        <button ng-click="model.getReview(val._id)"
                                class="smoothScroll fa fa-sticky-note fa-pull-right"> Reviews
                        </button>
                        <button ng-click="model.removeFromList(val.placeName | lowercase)"
                                ng-hide="model.userRole === 'Host'"
                                class="smoothScroll fa fa-plus fa-pull-right"> Remove from Wish List
                        </button>
                        <button ng-click="model.removeFromList(val.placeName | lowercase)"
                                ng-hide="model.userRole === 'Traveller'"
                                class="smoothScroll fa fa-plus fa-pull-right"> Remove from Hosting Cities
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        </div>
    </nav>
</div>