<div class="pro pro-body pro-details">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a ng-href="#!/place" class="pro-glyphicon">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="smoothScroll navbar-brand">TravelMate</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid pro-split-view">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <h2>Details:</h2>
                <h4>Venue name:</h4>
                <p>{{model.place.name}}</p>
                <h4>Location:</h4>
                <p>{{model.place.location.formattedAddress}}</p>
                <h4>Timings:</h4>
                <p>{{model.place.hours.status}}</p>
                <h4>Rating:</h4>
                <p>{{model.place.rating}}</p>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        </div>
    </nav>
</div>