<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Edit Website</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="../../css/styles.css"
          rel="stylesheet"/>
</head>
<body class="piy-body">
    <div class="piy piy-editwebsite">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 visible-lg">
                        <div class="navbar-text pull-left">
                            <a href="website-list.view.client.html" class="piy-glyphicon">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </div>
                        <div class="navbar-header">
                            <a class="navbar-brand">Websites</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-8">
                        <div class="navbar-text pull-left hidden-lg">
                            <a href="website-list.view.client.html" class="piy-glyphicon">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </div>
                        <div class="navbar-text pull-right">
                            <a href="website-list.view.client.html" class="piy-glyphicon">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </div>
                        <div class="navbar-header">
                            <a class="navbar-brand">Edit Website</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 visible-lg piy-split-view-left">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <div class="row">
                                <div class="col-xs-10">Name</div>
                                <div class="col-xs-2">
                                    <a href="website-new.view.client.html">
                                        <span class="pull-right glyphicon glyphicon-plus piy-glyphicon"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../../pages/templates/page-list.html">
                                        Facebook
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="website-edit.view.client.html">
                                        <span class="pull-right glyphicon glyphicon-cog"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../../pages/templates/page-list.html">
                                        Twitter
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="website-edit.view.client.html">
                                        <span class="pull-right glyphicon glyphicon-cog"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../../pages/templates/page-list.html">
                                        Amazon
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="website-edit.view.client.html">
                                        <span class="pull-right glyphicon glyphicon-cog"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../../pages/templates/page-list.html">
                                        Wikipedia
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="website-edit.view.client.html">
                                        <span class="pull-right glyphicon glyphicon-cog"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-lg-8 piy-split-view-right">
                    <label for="websitename">Website Name</label>
                    <input name="websitename"
                           class="form-control"
                           placeholder="Website Name"
                           value="Facebook"
                           id="websitename"/>

                    <label for="description">Website Description</label>
                    <textarea name="description"
                              rows="5"
                              class="form-control"
                              placeholder="Website Description"
                              id="description">Facebook is a social networking site which helps people to connect with their loved ones.</textarea>

                    <a class="btn btn-default btn-danger btn-block"
                       href="website-list.view.client.html"
                       role="button">Delete</a>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-text pull-right">
                    <a href="../../index.html" class="piy-glyphicon">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>