<div class="pro pro-body pro-review">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a class="smoothScroll navbar-brand">TravelMate</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav nav-pills navbar-right">
                    <li><a ng-href="#!/profile" class="smoothScroll fa fa-user"> Profile</a></li>
                    <li><a ng-href="#!/wishList" ng-hide="model.userRole === 'Host'" class="smoothScroll fa fa-list"> Wish List</a></li>
                    <li><a ng-href="#!/wishList" ng-hide="model.userRole === 'Traveller'" class="smoothScroll fa fa-list"> Hosting Cities</a></li>
                    <li><a ng-click="model.following()" ng-hide="model.userRole === 'Host'" class="smoothScroll fa fa-users"> Following</a></li>
                    <li><a ng-href="#!/followers" ng-hide="model.userRole === 'Traveller'" class="smoothScroll fa fa-users"> Followers</a></li>
                    <li><a ng-click="model.place()" class="smoothScroll fa fa-search"> Search Place</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid pro-split-view">
        <div>
            <ul class="nav nav-pills">
                <li><a ng-href="#!/review" class="pro-unselected smoothScroll fa fa-sticky-note"> Reviews for you</a></li>
                <li><a ng-href="#!/givenReview" class="pro-selected smoothScroll fa fa-sticky-note"> Reviews by you</a></li>
            </ul>
            <hr>
            <div id="givenReview">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="val in model.reviewByUser">
                        <button ng-click="model.deleteReview(val._id)"
                                class="smoothScroll pull-right"> Delete Review</button>
                        <p>Review for: {{val._user.firstName}} {{val._user.lastName}}</p>
                        <p>Review: {{val.content}}</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
    </nav>
</div>