<div class="container-fluid">
    <div>
        <h2>Login</h2>

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>

        <input name="username"
               ng-model="model.user.username"
               type="text"
               class="form-control"
               placeholder="Username"
               id="username"/>

        <input name="password"
               ng-model="model.user.password"
               type="password"
               class="form-control"
               placeholder="Password"
               id="password"/>

        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.login(model.user)"
           role="button">Login</a>

        <a class="btn btn-default btn-success btn-block"
           href="#!/register"
           role="button">Register</a>
    </div>
</div>