<div class="pro pro-body pro-login">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="smoothScroll navbar-brand">TravelMate</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid pro-split-view">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <h2>Login</h2>

                <div ng-show="model.errorMessage" class="alert alert-danger">
                    {{model.errorMessage}}
                </div>

                <input name="username"
                       ng-model="model.user.username"
                       type="text"
                       class="form-control"
                       placeholder="Username"
                       id="username"/>

                <input name="password"
                       ng-model="model.user.password"
                       type="password"
                       class="form-control"
                       placeholder="Password"
                       id="password"/>

                <a class="btn btn-default btn-primary btn-block"
                   ng-click="model.login(model.user)"
                   role="button">Login</a>

                <a class="btn btn-default btn-success btn-block"
                   ng-href="#!/register"
                   role="button">Register</a>

                <a class="btn btn-default btn-danger btn-block"
                   ng-click="model.back()"
                   role="button">Cancel</a>

                <h3 class="text-center">OR</h3>

                <a ng-href="/auth/facebook" class="btn btn-primary btn-block">
                    <span class="fa fa-facebook"></span>
                     Login via Facebook
                </a>

                <a ng-href="/auth/google" class="btn btn-danger btn-block">
                    <span class="fa fa-google-plus"></span>
                     Login via Google
                </a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        </div>
    </nav>
</div>