<div class="pro pro-body pro-register">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="smoothScroll navbar-brand">TravelMate</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid pro-split-view">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <h2>Register</h2>

                <div ng-show="model.errorMessage" class="alert alert-danger">
                    {{model.errorMessage}}
                </div>

                <label for="username">Username</label>
                <input name="username"
                       ng-model="model.user.username"
                       class="form-control"
                       placeholder="Username"
                       id="username"/>

                <label for="password">Password</label>
                <input name="password"
                       ng-model="model.user.password"
                       type="password"
                       class="form-control"
                       placeholder="Password"
                       id="password"/>

                <label for="verifypassword">Verify Password</label>
                <input name="verifypassword"
                       ng-model="model.user.password2"
                       type="password"
                       class="form-control"
                       placeholder="Verify Password"
                       id="verifypassword"/>

                <label for="role">User Role</label>
                <select name="role"
                        ng-model="model.user.role"
                        class="form-control form-group"
                        id="role">
                    <option value="Traveller">Traveller</option>
                    <option value="Host">Host</option>
                </select>

                <a class="btn btn-default btn-primary btn-block"
                   ng-click="model.createUser(model.user)"
                   role="button">Register</a>

                <a class="btn btn-default btn-danger btn-block"
                   ng-click="model.back()"
                   role="button">Cancel</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        </div>
    </nav>
</div>